
nav {
    background-color: #333;
    color: white;
    padding: 1rem 0;
  }
  
  nav h1 {
    margin: 0;
    padding-left: 20px;
    font-size: 1.5em;
  }
  
  nav a {
    color: white;
    padding: 10px 20px;
  }
  
  nav div {
    margin-right: 20px;
  }
  

  @media (max-width: 600px) {
    nav {
      flex-direction: column;
    }
  
    nav h1, nav div {
      text-align: center;
      padding: 10px 0;
    }
  }
  